<!-- Banner -->
<section class="banner {{ .style }}">
    <div class="content">
        {{ with .title }}<h2 style="font-weight:200;font-family:Georgia;letter-spacing:0.05em;font-size:1.8em;line-height:0.2rem">Sahaja Yoga</h2>{{ end }}
        {{ with .title }}<h3 style="font-weight:200;font-family:Georgia;letter-spacing:0.05em;">Präsentiert:</h3>{{ end }}
        {{ with .title }}<h1 style="font-weight:500;font-family:Georgia;letter-spacing:0.05em">ERKENNE DEIN SELBST</h1>{{ end }}
        {{ with .subtitle }}<p class="major">{{ . | safeHTML }}</p>{{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        {{ with .button }}<ul class="actions stacked">
            <li><a href="{{ .link }}" class="button primary large wide smooth-scroll-middle">{{ .label }}</a></li>
        </ul>{{ end }}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
        .fa {
          padding: 8px;
          font-size: 30px;
          text-align: center;
          text-decoration: none;
          margin: 7px 4px;
        }
        
        .fa:hover {
            opacity: 0.7;
        }

        .fa-facebook {
          color: #36624c;
        }
        
        .fa-instagram {
          color: #36624c;
        }
        </style>
        <a href="https://www.instagram.com/meditation_austria/" class="fa fa-instagram"></a>
        <a href="https://www.facebook.com/events/s/erkenne-dein-selbst/1098343659128708/" class="fa fa-facebook"></a>
        <p style="letter-spacing: 0.05em;">MEDIENINHABER & VERANSTALTER: VEREIN SAHAJA YOGA AUSTRIA, 1220 WIEN - VERLAGSORT: WIEN - DRUCK: PIXARTPRINTING, DESIGN: DIMENSIONS.AT</p>
        <a href="https://shrimataji.org/">ShriMataji.org</a>
        <a href="https://wemeditate.com/">wemeditate.com</a>
        <a href="https://postgasse.at/">postgasse.at</a>
    </div>
    {{ with .image }}<div class="image">
        <img src="{{.}}" alt="Shri Mataji Nirmala Devi" />
    </div>{{end}}
</section>
